In [1]:
#Import pandas
import pandas as pd

In [2]:
df = pd.read_csv("Data_for_UCI_named.csv")

In [3]:
df.head()

,tau1,tau2,tau3,tau4,p1,p2,p3,p4,g1,g2,g3,g4,stab,stabf
0,2.959060,3.079885,8.381025,9.780754,3.763085,-0.782604,-1.257395,-1.723086,0.650456,0.859578,0.887445,0.958034,0.055347,unstable
1,9.304097,4.902524,3.047541,1.369357,5.067812,-1.940058,-1.872742,-1.255012,0.413441,0.862414,0.562139,0.781760,-0.005957,stable
2,8.971707,8.848428,3.046479,1.214518,3.405158,-1.207456,-1.277210,-0.920492,0.163041,0.766689,0.839444,0.109853,0.003471,unstable
3,0.716415,7.669600,4.486641,2.340563,3.963791,-1.027473,-1.938944,-0.997374,0.446209,0.976744,0.929381,0.362718,0.028871,unstable
4,3.134112,7.608772,4.943759,9.857573,3.525811,-1.125531,-1.845975,-0.554305,0.797110,0.455450,0.656947,0.820923,0.049860,unstable

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   tau1    10000 non-null  float64
 1   tau2    10000 non-null  float64
 2   tau3    10000 non-null  float64
 3   tau4    10000 non-null  float64
 4   p1      10000 non-null  float64
 5   p2      10000 non-null  float64
 6   p3      10000 non-null  float64
 7   p4      10000 non-null  float64
 8   g1      10000 non-null  float64
 9   g2      10000 non-null  float64
 10  g3      10000 non-null  float64
 11  g4      10000 non-null  float64
 12  stab    10000 non-null  float64
 13  stabf   10000 non-null  object
dtypes: float64(13), object(1)
memory usage: 1.1+ MB

In [4]:
#Dropping the stab column
df = df.drop(columns="stab")

In [5]:
df.head()

,tau1,tau2,tau3,tau4,p1,p2,p3,p4,g1,g2,g3,g4,stabf
0,2.959060,3.079885,8.381025,9.780754,3.763085,-0.782604,-1.257395,-1.723086,0.650456,0.859578,0.887445,0.958034,unstable
1,9.304097,4.902524,3.047541,1.369357,5.067812,-1.940058,-1.872742,-1.255012,0.413441,0.862414,0.562139,0.781760,stable
2,8.971707,8.848428,3.046479,1.214518,3.405158,-1.207456,-1.277210,-0.920492,0.163041,0.766689,0.839444,0.109853,unstable
3,0.716415,7.669600,4.486641,2.340563,3.963791,-1.027473,-1.938944,-0.997374,0.446209,0.976744,0.929381,0.362718,unstable
4,3.134112,7.608772,4.943759,9.857573,3.525811,-1.125531,-1.845975,-0.554305,0.797110,0.455450,0.656947,0.820923,unstable

In [6]:
df['stabf'].value_counts()

unstable    6380
stable      3620
Name: stabf, dtype: int64

In [20]:
df_unstable = df[df.stabf=='unstable'].sample(3620)
df_stable = df[df.stabf=='stable']
data_balan_df = df_unstable.append(df_stable)

In [21]:
import sklearn.utils
data_bala_df = sklearn.utils.shuffle(data_balan_df)
data_bala_df = data_bala_df.reset_index(drop=True)
data_bala_df.shape
data_bala_df.stabf.value_counts()

unstable    3620
stable      3620
Name: stabf, dtype: int64

In [23]:
X = data_bala_df.drop(columns="stabf")
X.head()

,tau1,tau2,tau3,tau4,p1,p2,p3,p4,g1,g2,g3,g4
0,8.604923,3.433992,5.226940,3.994339,3.147735,-1.162346,-0.548715,-1.436674,0.138474,0.654786,0.075878,0.062779
1,8.942656,1.580763,1.103169,3.727570,4.252538,-1.156003,-1.860492,-1.236043,0.372644,0.854673,0.163371,0.672078
2,8.743072,3.139039,8.587921,0.602870,4.349033,-1.318645,-1.566726,-1.463662,0.073203,0.948718,0.195556,0.259351
3,8.043198,7.697806,2.218773,5.570272,2.527277,-1.062176,-0.546812,-0.918288,0.817824,0.868585,0.989769,0.208101
4,5.894742,5.540828,2.697959,2.363660,4.957511,-1.391513,-1.757381,-1.808617,0.236257,0.641063,0.565777,0.151164

In [24]:
y = data_bala_df["stabf"]
y.head()

0      stable
1      stable
2      stable
3    unstable
4      stable
Name: stabf, dtype: object

In [25]:
#Splitting the dataset into train and test split
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)

In [26]:
#encode categorical variable
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
y_train_enc = encoder.fit_transform(y_train)
#x_test.record = encoder.transform(x_test.record)

In [27]:
#Using standard scaler to transform the train set
#import standard scaler
from sklearn.preprocessing import StandardScaler

#Define standard scaler
scaler = StandardScaler()

#Transform data
X_train_scaled = scaler.fit_transform(x_train)
y_train_scaled = scaler.fit_transform([y_train_enc])
x_test_scaled = scaler.fit(x_test)

In [33]:
#Import random forest
from sklearn.datasets import make_classification
from sklearn.ensemble import RandomForestClassifier
X_train_scaled, y_train_scaled = make_classification()
ranclf = RandomForestClassifier(random_state=1)
ranclf.fit(X_train_scaled, y_train_scaled)

RandomForestClassifier(random_state=1)

In [32]:
from sklearn.datasets import make_classification
from sklearn.ensemble import ExtraTreesClassifier
X_train_scaled, y_train_scaled = make_classification()
model = ExtraTreesClassifier(random_state=1)
model.fit(X_train_scaled, y_train_scaled)

ExtraTreesClassifier(random_state=1)

In [34]:
import xgboost as xgboost

ModuleNotFoundError: No module named 'xgboost'

In [ ]:
accuracy = accuracy_score(y_true=y_train_scaled, y_pred=new_predictions)
print('Accuracy: {}'.format(round(accuracy*100), 2))